.header {
  width: 100%;
  margin-bottom: 1rem;
  padding: 2rem 2.4rem 0;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Montserrat', 'Pretendard', sans-serif;
}