.open_menu {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  border-radius: 50%;
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}

.open_menu:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}

.open_menu .dot {
  display: inline-block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: var(--object-color);
}

.list_menu .menu {
  width: 8rem;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, .1);
  position: absolute;
  top: 2rem;
  right: 5rem;
  display: none;
}

.list_menu .menu.show {
  display: block;
}

.list_menu .menu .btn_menu {
  display: block;
  width: 100%;
  padding: 1rem 0;
  font-size: 1.4rem;
  text-align: center;
  background-color: var(--absolute-color);
}

.list_menu .menu .btn_menu + .btn_menu {
  border-top: 1px solid var(--background-color);
}