.note {
  border-radius: 1rem;
  background-color: var(--background-color);
  position: relative;
}

.note > a {
  display: block;
  padding: 2rem 2.6rem;
}

.note .title {
  font-size: 2rem;
  margin-bottom: 1.4rem;
}

.note .content {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}