/* ================= 테마 전역 스타일 ================= */
/* Light Mode */
:root {
  --absolute-color: #fff;
  --background-color: #f2f2f2;
  --text-color: #222222;
  --object-color: #bbbbbb;
}

/* Dark Mode */
.dark_mode {
  --absolute-color: #000;
  --background-color: #222222;
  --text-color: #f2f2f2;
  --object-color: #666666;
}

/* ================= 리셋 CSS ================= */
* {
  box-sizing: border-box;
  transition: background-color .3s, color .3s;
}

::placeholder {
  color: var(--object-color);
}

html {
  margin: 0;
  padding: 0 2rem;
  font-size: 10px;
  background-color: var(--background-color);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Pretendard', sans-serif;
  font-size: 1.6rem;
  color: var(--text-color);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

input,
textarea,
button,
select,
option {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  outline: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.sound_only {
  display: inline-block;
  width: 0px;
  height: 0px;
  text-indent: -9999px;
  overflow: hidden;
}

/* ================= 고정 스타일 ================= */
.App {
  width: 100%;
  max-width: 600px;
  height: 80vh;
  margin: 10vh auto;
  padding-bottom: 2.4rem;
  border-radius: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  background-color: var(--absolute-color);
  overflow: hidden;
}

.App_body {
  margin-top: 2rem;
  padding: 0 2.4rem 2rem;
  max-height: calc(80vh - 8rem);
  overflow-y: auto;
  scrollbar-gutter: stable;
}

.App_body::-webkit-scrollbar {
  width: 2rem;
}

.App_body::-webkit-scrollbar-thumb {
  background-color: var(--object-color);
  background-clip: padding-box;
  border: .5rem solid transparent;
  border-radius: 1rem;
}

.App_body::-webkit-scrollbar-button {
  display: none;
}

.btn_style {
  min-width: 10rem;
  padding: 1.4rem 2rem;
  background-color: #2562d3;
  color: #f7f7f7;
  text-align: center;
  border-radius: 1rem;
  cursor: pointer;
}